# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
flask-env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Linux temporary files
*~

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Build files
build/
dist/
*.egg-info/

# Coverage reports
.coverage
htmlcov/
